*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.name
compiler.xml
encodings.xml
gradle.xml
misc.xml
modules.xml
runConfigurations.xml
vcs.xml
profiles_settings.xml
